src/view/product.pug
extends include/main

block variables
  - let title = 'Allpricer'
  - let description = ''

block content
  section.p-link#product
    .container
      ol.breadcrumb
        //- li
        //-   a(href='/' title='Главная') Главная
        //- li
        //-   a(href='#' title='Статьи') Статьи
        //- li
        //-   a(href='#' title='Игры Steam') Игры Steam
        //- li
        //-   a(href='#' title='Baldur\'s Gate 3 покупка, через Steam') Baldur's Gate 3 покупка, через Steam
      .product
        .product__top
          .product__image
            img(src='/image/illustration/product.jpg' alt='Baldur\'s Gate 3')
          .product__discount -20%
        .product__main
          .product__title
            h2
              | Baldur's Gate 3
              br
              | покупка, через Steam
          .product-price
            .product-price__old $59.99
            span $47.99
          ul.product-tags
            li.product-tags__item Ролевая игра
            li.product-tags__item Решения с последствиями
            li.product-tags__item Фэнтези
          .product__text
            p
              span Разработчик:
              | Larian Studios
            p
              span Дата релиза:
              | 3 авг. 2023
          .p-button.product__button
            a(href='#' title='Пополнить steam-аккаунт') Пополнить steam-аккаунт
          .product-slider
            .product-slider__wraper
              - for (let s = 1; s <= 2; s++)
                - for (let i = 1; i <= 3; i++)
                  .product-slider__image
                    a(href='#' data-action='open-popup' data-popup='gallery' title='Увеличить')
                      img(src=`/image/illustration/${i}-min.jpg` alt='illustration')
            .product-slider-nav
              .product-slider-nav__prev
                svg
                  use(href='/image/icon/left.svg#left')
              .product-slider-nav__next
                svg
                  use(href='/image/icon/right.svg#right')
  .p-link#product-info
    .container
      .product-info
        ul.product-info-nav
          li.product-info-nav__item
            a.active(href='#about' title='Об игре') Об игре
          li.product-info-nav__item
            a(href='#system' title='Системные требования') Системные требования
        .product-info-tabs
          .product-info-tabs__item#about
            .product-info-tabs__text
              p Соберите отряд и вернитесь в Забытые Королевства. Вас ждет история о дружбе и предательстве, выживании и самопожертвовании, о сладком зове абсолютной власти.Ваш мозг стал вместилищем для личинки иллитида, и она пробуждает в вас таинственные, пугающие способности. Сопротивляйтесь паразиту и обратите тьму против себя самой – или же безоглядно отдайтесь злу и станьте его воплощением.Ролевая игра нового поколения в мире Dungeons & Dragons от создателей Divinity: Original Sin 2.
              p Выбирайте из 12 классов и 11 рас, представленных в Руководстве игрока D&D. Создайте собственную личность, возьмите любого из героев с историей – или же взгляните в глаза собственным темным желаниям, выбрав «Темный соблазн» – уникального героя с историей, отличающегося собственными уникальными механиками игры, но во всем остальном полностью настраиваемого. Кем бы вы ни стали, приключения, добыча, битвы и любовь ждут вас в Забытых Королевствах и за их пределами. Собирайте свой отряд и отправляйтесь искать приключений по Интернету группой до четырех игроков.
          .product-info-tabs__item#system
            .product-info-tabs__title
              h5 Windows
            .product-info-tabs__row
              .product-info-tabs__column
                .product-info-tabs__name Минимальные
                ul.product-info-tabs-list
                  li.product-info-tabs-list__item 64-разрядные процессор и операционная система
                  li.product-info-tabs-list__item ОС: Windows 10 64-bit
                  li.product-info-tabs-list__item Процессор: Intel I5 4690 / AMD FX 8350
                  li.product-info-tabs-list__item Оперативная память: 8 GB ОЗУ
                  li.product-info-tabs-list__item Видеокарта: Nvidia GTX 970 / RX 480 (4GB+ of VRAM)
                  li.product-info-tabs-list__item DirectX: версии 11
                  li.product-info-tabs-list__item Место на диске: 150 GB
                  li.product-info-tabs-list__item Дополнительно: SSD required
              .product-info-tabs__column
                .product-info-tabs__name.product-info-tabs__name--blue Рекомендованные
                ul.product-info-tabs-list
                  li.product-info-tabs-list__item 64-разрядные процессор и операционная система
                  li.product-info-tabs-list__item ОС: Windows 10 64-bit
                  li.product-info-tabs-list__item Процессор: Intel i7 8700K / AMD r5 3600
                  li.product-info-tabs-list__item Оперативная память: 16 GB ОЗУ
                  li.product-info-tabs-list__item Видеокарта: Nvidia 2060 Super / RX 5700 XT (8GB+ of VRAM)
                  li.product-info-tabs-list__item DirectX: версии 11
                  li.product-info-tabs-list__item Место на диске: 150 GB
                  li.product-info-tabs-list__item Дополнительно: SSD required
            .product-info-tabs__title.product-info-tabs__title--margin-top
              h5 macOS
            .product-info-tabs__row
              .product-info-tabs__column
                .product-info-tabs__name Минимальные
                ul.product-info-tabs-list
                  li.product-info-tabs-list__item ОС: macOS 12 or newer
                  li.product-info-tabs-list__item Процессор: Apple M1
                  li.product-info-tabs-list__item Оперативная память: 8 GB ОЗУ
                  li.product-info-tabs-list__item Видеокарта: Apple M1
                  li.product-info-tabs-list__item Место на диске: 150 GB
                  li.product-info-tabs-list__item Дополнительно: Min specs can run the game on low to medium settings. Splitscreen will not run at an acceptable level of performance. SSD required.
              .product-info-tabs__column
                .product-info-tabs__name.product-info-tabs__name--blue Рекомендованные
                ul.product-info-tabs-list
                  li.product-info-tabs-list__item ОС: Latest macOS
                  li.product-info-tabs-list__item Процессор: Apple M1 Pro or better
                  li.product-info-tabs-list__item Оперативная память: 16 GB ОЗУ
                  li.product-info-tabs-list__item Видеокарта: Apple M1 Pro or better
                  li.product-info-tabs-list__item Место на диске: 150 GB
                  li.product-info-tabs-list__item Дополнительно: Recommended specs can run the game on high or ultra settings. SSD required.
  .p-link#product-banner
    .container
      .product-banner
        .product-banner__main
          .product-banner__logo
            img(src='/image/steamgold.svg' alt='Steamgold')
          .product-banner__title
            h4 Пополнить баланс Steam
          .product-banner__text
            p Хотите приобрести игру? Пополните&nbsp;баланс с помощью SteamGold, быстро и надежно.
          .p-button.p-button--white.product-banner__button
            a(href='#' title='Пополнить') Пополнить
        .product-banner__image
          picture
            source(srcset='/image/illustration/banner.png, /image/illustration/banner@2x.png 2x' media='(min-width: 768px)' type='image/png')
            img(src='/image/illustration/banner.m.png' srcset='/image/illustration/banner.m@2x.png' alt='banner')
  section.p-link#similar-games
    .container
      .similar-games
        .similar-games__title
          h3 Похожие игры
        .similar-games-list
          .similar-games-list__item
            .similar-games-list__top
              .similar-games-list__image
                a(href='/product.html' title='ELDEN RING')
                  img(src='/image/illustration/product.jpg' alt='ELDEN RING')
            .similar-games-list__main
              .similar-games-list__title
                a(href='/product.html' title='ELDEN RING')
                  h5 Lorem ipsum dolor sit amet consectetur adipisicing elit
              .similar-games-list-price
                span $16.60
          - for (let i = 1; i <= 4; i++)
            .similar-games-list__item
              .similar-games-list__top
                .similar-games-list__image
                  a(href='/product.html' title='ELDEN RING')
                    img(src='/image/illustration/product.jpg' alt='ELDEN RING')
                .similar-games-list__discount -70%
              .similar-games-list__main
                .similar-games-list__title
                  a(href='/product.html' title='ELDEN RING')
                    h5 ELDEN RING
                .similar-games-list-price
                  .similar-games-list-price__old $22.00
                  span $6.60

public/product.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Allpricer</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
  <link href="/assets/css/main.css?v=413f203" rel="stylesheet"></head>
  <body>
    <div class="all_wrapper">
<header>
  <div class="container"></div>
</header>
      <section class="p-link" id="product">
        <div class="container">
          <ol class="breadcrumb"></ol>
          <div class="product">
            <div class="product__top">
              <div class="product__image"><img src="/image/illustration/product.jpg" alt="Baldur's Gate 3"></div>
              <div class="product__discount">-20%</div>
            </div>
            <div class="product__main">
              <div class="product__title">
                <h2>Baldur's Gate 3<br>покупка, через Steam</h2>
              </div>
              <div class="product-price">
                <div class="product-price__old">$59.99</div><span>$47.99</span>
              </div>
              <ul class="product-tags">
                <li class="product-tags__item">Ролевая игра</li>
                <li class="product-tags__item">Решения с последствиями</li>
                <li class="product-tags__item">Фэнтези</li>
              </ul>
              <div class="product__text">
                <p><span>Разработчик:</span>Larian Studios</p>
                <p><span>Дата релиза:</span>3 авг. 2023</p>
              </div>
              <div class="p-button product__button"><a href="#" title="Пополнить steam-аккаунт">Пополнить steam-аккаунт</a></div>
              <div class="product-slider">
                <div class="product-slider__wraper">
                  <div class="product-slider__image"><a href="#" data-action="open-popup" data-popup="gallery" title="Увеличить"><img src="/image/illustration/1-min.jpg" alt="illustration"></a></div>
                  <div class="product-slider__image"><a href="#" data-action="open-popup" data-popup="gallery" title="Увеличить"><img src="/image/illustration/2-min.jpg" alt="illustration"></a></div>
                  <div class="product-slider__image"><a href="#" data-action="open-popup" data-popup="gallery" title="Увеличить"><img src="/image/illustration/3-min.jpg" alt="illustration"></a></div>
                  <div class="product-slider__image"><a href="#" data-action="open-popup" data-popup="gallery" title="Увеличить"><img src="/image/illustration/1-min.jpg" alt="illustration"></a></div>
                  <div class="product-slider__image"><a href="#" data-action="open-popup" data-popup="gallery" title="Увеличить"><img src="/image/illustration/2-min.jpg" alt="illustration"></a></div>
                  <div class="product-slider__image"><a href="#" data-action="open-popup" data-popup="gallery" title="Увеличить"><img src="/image/illustration/3-min.jpg" alt="illustration"></a></div>
                </div>
                <div class="product-slider-nav">
                  <div class="product-slider-nav__prev">
                    <svg>
                      <use href="/image/icon/left.svg#left"></use>
                    </svg>
                  </div>
                  <div class="product-slider-nav__next">
                    <svg>
                      <use href="/image/icon/right.svg#right"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="p-link" id="product-info">
        <div class="container">
          <div class="product-info">
            <ul class="product-info-nav">
              <li class="product-info-nav__item"><a class="active" href="#about" title="Об игре">Об игре</a></li>
              <li class="product-info-nav__item"><a href="#system" title="Системные требования">Системные требования</a></li>
            </ul>
            <div class="product-info-tabs">
              <div class="product-info-tabs__item" id="about">
                <div class="product-info-tabs__text">
                  <p>Соберите отряд и вернитесь в Забытые Королевства. Вас ждет история о дружбе и предательстве, выживании и самопожертвовании, о сладком зове абсолютной власти.Ваш мозг стал вместилищем для личинки иллитида, и она пробуждает в вас таинственные, пугающие способности. Сопротивляйтесь паразиту и обратите тьму против себя самой – или же безоглядно отдайтесь злу и станьте его воплощением.Ролевая игра нового поколения в мире Dungeons & Dragons от создателей Divinity: Original Sin 2.</p>
                  <p>Выбирайте из 12 классов и 11 рас, представленных в Руководстве игрока D&D. Создайте собственную личность, возьмите любого из героев с историей – или же взгляните в глаза собственным темным желаниям, выбрав «Темный соблазн» – уникального героя с историей, отличающегося собственными уникальными механиками игры, но во всем остальном полностью настраиваемого. Кем бы вы ни стали, приключения, добыча, битвы и любовь ждут вас в Забытых Королевствах и за их пределами. Собирайте свой отряд и отправляйтесь искать приключений по Интернету группой до четырех игроков.</p>
                </div>
              </div>
              <div class="product-info-tabs__item" id="system">
                <div class="product-info-tabs__title">
                  <h5>Windows</h5>
                </div>
                <div class="product-info-tabs__row">
                  <div class="product-info-tabs__column">
                    <div class="product-info-tabs__name">Минимальные</div>
                    <ul class="product-info-tabs-list">
                      <li class="product-info-tabs-list__item">64-разрядные процессор и операционная система</li>
                      <li class="product-info-tabs-list__item">ОС: Windows 10 64-bit</li>
                      <li class="product-info-tabs-list__item">Процессор: Intel I5 4690 / AMD FX 8350</li>
                      <li class="product-info-tabs-list__item">Оперативная память: 8 GB ОЗУ</li>
                      <li class="product-info-tabs-list__item">Видеокарта: Nvidia GTX 970 / RX 480 (4GB+ of VRAM)</li>
                      <li class="product-info-tabs-list__item">DirectX: версии 11</li>
                      <li class="product-info-tabs-list__item">Место на диске: 150 GB</li>
                      <li class="product-info-tabs-list__item">Дополнительно: SSD required</li>
                    </ul>
                  </div>
                  <div class="product-info-tabs__column">
                    <div class="product-info-tabs__name product-info-tabs__name--blue">Рекомендованные</div>
                    <ul class="product-info-tabs-list">
                      <li class="product-info-tabs-list__item">64-разрядные процессор и операционная система</li>
                      <li class="product-info-tabs-list__item">ОС: Windows 10 64-bit</li>
                      <li class="product-info-tabs-list__item">Процессор: Intel i7 8700K / AMD r5 3600</li>
                      <li class="product-info-tabs-list__item">Оперативная память: 16 GB ОЗУ</li>
                      <li class="product-info-tabs-list__item">Видеокарта: Nvidia 2060 Super / RX 5700 XT (8GB+ of VRAM)</li>
                      <li class="product-info-tabs-list__item">DirectX: версии 11</li>
                      <li class="product-info-tabs-list__item">Место на диске: 150 GB</li>
                      <li class="product-info-tabs-list__item">Дополнительно: SSD required</li>
                    </ul>
                  </div>
                </div>
                <div class="product-info-tabs__title product-info-tabs__title--margin-top">
                  <h5>macOS</h5>
                </div>
                <div class="product-info-tabs__row">
                  <div class="product-info-tabs__column">
                    <div class="product-info-tabs__name">Минимальные</div>
                    <ul class="product-info-tabs-list">
                      <li class="product-info-tabs-list__item">ОС: macOS 12 or newer</li>
                      <li class="product-info-tabs-list__item">Процессор: Apple M1</li>
                      <li class="product-info-tabs-list__item">Оперативная память: 8 GB ОЗУ</li>
                      <li class="product-info-tabs-list__item">Видеокарта: Apple M1</li>
                      <li class="product-info-tabs-list__item">Место на диске: 150 GB</li>
                      <li class="product-info-tabs-list__item">Дополнительно: Min specs can run the game on low to medium settings. Splitscreen will not run at an acceptable level of performance. SSD required.</li>
                    </ul>
                  </div>
                  <div class="product-info-tabs__column">
                    <div class="product-info-tabs__name product-info-tabs__name--blue">Рекомендованные</div>
                    <ul class="product-info-tabs-list">
                      <li class="product-info-tabs-list__item">ОС: Latest macOS</li>
                      <li class="product-info-tabs-list__item">Процессор: Apple M1 Pro or better</li>
                      <li class="product-info-tabs-list__item">Оперативная память: 16 GB ОЗУ</li>
                      <li class="product-info-tabs-list__item">Видеокарта: Apple M1 Pro or better</li>
                      <li class="product-info-tabs-list__item">Место на диске: 150 GB</li>
                      <li class="product-info-tabs-list__item">Дополнительно: Recommended specs can run the game on high or ultra settings. SSD required.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-link" id="product-banner">
        <div class="container">
          <div class="product-banner">
            <div class="product-banner__main">
              <div class="product-banner__logo"><img src="/image/steamgold.svg" alt="Steamgold"></div>
              <div class="product-banner__title">
                <h4>Пополнить баланс Steam</h4>
              </div>
              <div class="product-banner__text">
                <p>Хотите приобрести игру? Пополните&nbsp;баланс с помощью SteamGold, быстро и надежно.</p>
              </div>
              <div class="p-button p-button--white product-banner__button"><a href="#" title="Пополнить">Пополнить</a></div>
            </div>
            <div class="product-banner__image">
              <picture>
                <source srcset="/image/illustration/banner.png, /image/illustration/banner@2x.png 2x" media="(min-width: 768px)" type="image/png"><img src="/image/illustration/banner.m.png" srcset="/image/illustration/banner.m@2x.png" alt="banner">
              </picture>
            </div>
          </div>
        </div>
      </div>
      <section class="p-link" id="similar-games">
        <div class="container">
          <div class="similar-games">
            <div class="similar-games__title">
              <h3>Похожие игры</h3>
            </div>
            <div class="similar-games-list">
              <div class="similar-games-list__item">
                <div class="similar-games-list__top">
                  <div class="similar-games-list__image"><a href="/product.html" title="ELDEN RING"><img src="/image/illustration/product.jpg" alt="ELDEN RING"></a></div>
                </div>
                <div class="similar-games-list__main">
                  <div class="similar-games-list__title"><a href="/product.html" title="ELDEN RING">
                      <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit</h5></a></div>
                  <div class="similar-games-list-price"><span>$16.60</span></div>
                </div>
              </div>
              <div class="similar-games-list__item">
                <div class="similar-games-list__top">
                  <div class="similar-games-list__image"><a href="/product.html" title="ELDEN RING"><img src="/image/illustration/product.jpg" alt="ELDEN RING"></a></div>
                  <div class="similar-games-list__discount">-70%</div>
                </div>
                <div class="similar-games-list__main">
                  <div class="similar-games-list__title"><a href="/product.html" title="ELDEN RING">
                      <h5>ELDEN RING</h5></a></div>
                  <div class="similar-games-list-price">
                    <div class="similar-games-list-price__old">$22.00</div><span>$6.60</span>
                  </div>
                </div>
              </div>
              <div class="similar-games-list__item">
                <div class="similar-games-list__top">
                  <div class="similar-games-list__image"><a href="/product.html" title="ELDEN RING"><img src="/image/illustration/product.jpg" alt="ELDEN RING"></a></div>
                  <div class="similar-games-list__discount">-70%</div>
                </div>
                <div class="similar-games-list__main">
                  <div class="similar-games-list__title"><a href="/product.html" title="ELDEN RING">
                      <h5>ELDEN RING</h5></a></div>
                  <div class="similar-games-list-price">
                    <div class="similar-games-list-price__old">$22.00</div><span>$6.60</span>
                  </div>
                </div>
              </div>
              <div class="similar-games-list__item">
                <div class="similar-games-list__top">
                  <div class="similar-games-list__image"><a href="/product.html" title="ELDEN RING"><img src="/image/illustration/product.jpg" alt="ELDEN RING"></a></div>
                  <div class="similar-games-list__discount">-70%</div>
                </div>
                <div class="similar-games-list__main">
                  <div class="similar-games-list__title"><a href="/product.html" title="ELDEN RING">
                      <h5>ELDEN RING</h5></a></div>
                  <div class="similar-games-list-price">
                    <div class="similar-games-list-price__old">$22.00</div><span>$6.60</span>
                  </div>
                </div>
              </div>
              <div class="similar-games-list__item">
                <div class="similar-games-list__top">
                  <div class="similar-games-list__image"><a href="/product.html" title="ELDEN RING"><img src="/image/illustration/product.jpg" alt="ELDEN RING"></a></div>
                  <div class="similar-games-list__discount">-70%</div>
                </div>
                <div class="similar-games-list__main">
                  <div class="similar-games-list__title"><a href="/product.html" title="ELDEN RING">
                      <h5>ELDEN RING</h5></a></div>
                  <div class="similar-games-list-price">
                    <div class="similar-games-list-price__old">$22.00</div><span>$6.60</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
<footer>
  <div class="container"></div>
</footer>
<!-- Popup-->
<div class="popup p-link">
  <div class="popup-overlay" data-action="close-popup"></div><a class="popup__close" href="#" data-action="close-popup" title="Закрыть окно">
    <svg>
      <use href="/image/icon/close.svg#close"></use>
    </svg></a>
  <!-- Галерея-->
  <div class="gallery popup__module popup__module--center"><a class="popup__close" href="#" data-action="close-popup" title="Закрыть окно">
      <svg>
        <use href="/image/icon/close.svg#close"></use>
      </svg></a>
    <div class="gallery-slider">
      <div class="gallery-slider__wraper">
        <div class="gallery-slider__image"><img src="/image/illustration/1.jpg" alt="illustration"></div>
        <div class="gallery-slider__image"><img src="/image/illustration/2.jpg" alt="illustration"></div>
        <div class="gallery-slider__image"><img src="/image/illustration/3.jpg" alt="illustration"></div>
        <div class="gallery-slider__image"><img src="/image/illustration/1.jpg" alt="illustration"></div>
        <div class="gallery-slider__image"><img src="/image/illustration/2.jpg" alt="illustration"></div>
        <div class="gallery-slider__image"><img src="/image/illustration/3.jpg" alt="illustration"></div>
      </div>
      <div class="gallery-slider-nav">
        <div class="gallery-slider-nav__prev">
          <svg>
            <use href="/image/icon/left.svg#left"></use>
          </svg>
        </div>
        <div class="gallery-slider-nav__next">
          <svg>
            <use href="/image/icon/right.svg#right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Popup end-->
    </div>
    <!-- js-->
  <script defer src="/assets/js/vendors.js?v=2a41e68"></script><script defer src="/assets/js/main.js?v=b2e0f3a"></script></body>
</html>
